In [1]:
people=60
bus_seats=15
print(60/15)

4.0

In [7]:
farenheit=float(97.5)
celsius= (farenheit-32)*5/9
print(f"Temperature in Celsius: {celsius:.2f}°C")

Temperature in Celsius: 36.39°C

In [13]:
celsius=float(97.5)
fahrenheit= (farenheit+9/5)+32
print(f"Temperature in Fahrenheit: {fahrenheit:.2f}°F")

Temperature in Fahrenheit: 131.30°F

In [19]:
a=int(20)
b=int(25)
c=int(30)
d=int(40)
print(int(20+25)**2)
print(int(30+40)**3)

2025
343000

In [61]:
a= float(input("enter a value"))
b= float(input("enter a value"))
c=float(input("enter a value"))         
d= float(input("enter a value"))
number= [a, b, c, d]
mean = sum(number)/len(number)
v=(a - mean) ** 2 + (b - mean) ** 2 + (c - mean) ** 2+ (d - mean) ** 2

variance = v / len(number) 

print("Variance:", variance)

std_deviation = variance ** 0.5
print(std_deviation)
m=1.23
b=0.045
x=sum(number)
y=m*x+b
print((int(y)))

enter a value 10
enter a value 10
enter a value 10
enter a value 10

Variance: 0.0
0.0
49

In [67]:
km = 5
cm = km * 100000
print("this is km to cm", cm)
meters = km * 1000
print("this is km to meters", m)
mm = km * 1000000
print("this is km to mm", mm)
cents = km * 100000
print("this is km to c", cents)
feet = km * 3280.84
print("this is km to feet", feet)
yards = km * 1093.61
print("this is km to yards", yards)

this is km to cm 500000
this is km to meters 1.23
this is km to mm 5000000
this is km to c 500000
this is km to feet 16404.2
this is km to yards 5468.049999999999

In [83]:
gb=10
# 1 gb = 1024 mb
MB= gb*1024
print("MB", MB)
KB=gb* 1024*1024
print("KB", KB)
TB=gb/1024
print("TB", TB)
PB=gb/(1024*1024)
print("PB", PB)

MB 10240
KB 10485760
TB 0.009765625
PB 9.5367431640625e-06

In [91]:
# The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
name=input("enter your name")
age=input("enter your age")
height=input("enter your height")
res = f"Name:{name} of the person, Age:{age} of the person, Height:{height} of the person"
print(res)

enter your name sainath
enter your age 27
enter your height 5.6

Name:sainath of the person, Age:27 of the person, Height:5.6 of the person

In [97]:
weight=80
height=1.6 # give in meters

bmi = (weight / (height ** 2))

print(bmi)

31.249999999999993

In [123]:
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783

# Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

res = "Name:%s, Age:%d, Height:%d, Weight:%d"%(name, age, height, weight)
print(res)

Name:Jayaram, Age:1, Height:3, Weight:10

In [129]:
base=2
exponent=3
# Use: 2\u00b3
res=f"{base}\u00b3"
print(res)

2³

In [137]:
# Take three upper case letters from the user convert in to small case.
sainath="ABCDEFGHIJKLM  fyuu"
convert=sainath.lower()
f = sainath.upper()
print(convert, f)

abcdefghijklm  fyuu ABCDEFGHIJKLM  FYUU

105 21.0

In [169]:
# Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

Apple=20
Oranges=10
Pineapple=15
Kindaapple=25
middleapple=35

a = [Apple, Oranges, Pineapple, Kindaapple, middleapple]

total = sum(a)
print("Total cost : ", total)
avg = total / len(a)
print("Average : ", avg)

max_of = max(a)
print("Maximum_value: ", max_of)

min_of = min(a)
print("Minimum_value:", min_of)

Total cost :  105
Average :  21.0
Maximum_value:  35
Minimum_value: 10